
<!-- Text on Dashboard image -->
<div class="panel marquee short" id="network-white" style="margin-left: -15px; margin-right: -15px;">
    <div class="content threecolumns tight">
        <div class="column double" style="margin-left: -10px;">
            <h4 class="uppercase wide semitight-top">Multi Cloud Network Performance&nbsp;Test</h4>
        </div>
    </div>
</div>
<!-- Loading Bar -->
<!-- <ng2-slim-loading-bar [color]="'#e24301'"></ng2-slim-loading-bar> -->
<!-- Left and Right Panel -->
<div class="row mrg-top-15">
    <!-- Left panel with map -->
    <div class="col-md-7 pad-right-none">
        <div class="card card-radious-none">
            <div class="card-header">   
                <div class="row">
                    <div class="col-md-6">
                        <h6 class="card-title card-title-margin">Cloud Regions</h6>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <i class="fa fa-clock-o fa-lg clock" aria-hidden="true"></i>
                            <select class="timestamp" [(ngModel)]="speedtestModel.timestamp" (ngModelChange)="changeTimestamp()">
                            <option *ngFor="let range of dashboardModel.timeRanges" [value]="range.value"> {{ range.label }}</option>
                        </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-block padding-0"> 
                <div id="map" class="height-306"></div>
            </div>
        </div>
    </div>
    <!-- End Left panel with map -->
    <!-- Right panel -->
    <div class="col-md-5">
        <div class="card card-radious-none">
            <div class="card-header cart-header-right-panel">
                <!-- Right Panel tooltip and timestamp -->
                <div class="row">
                    <div class="col-md-9 padding-right-0">
                        <h6 class="card-title card-title-margin">{{properties.RIGHT_PANEL_HEADER}} <span>&nbsp;  <i class="fa fa-info-circle fa-lg info-color cursor-pointer" aria-hidden="true" mdTooltip="{{properties.RIGHT_PANEL_TOOLTIP}}"></i></span></h6>                 
                    </div>
                </div>
                <!-- End Right Panel tooltip and timestamp -->
                <!-- Source, Destination, Test Tabs -->
                <div class="row menu-tab-header">
                    <div class="col-md-4 tab-btn" [ngClass]="{'selected-menu-tab': sourceTab, 'menu-tab': !sourceTab && !validationSourceTab(), 'completed-menu-tab': !sourceTab && validationSourceTab()}" align="center" (click)="changeMenuTab(0)"><span class="bubble"></span>
                        Source
                    </div>
                    <div class="col-md-4 tab-btn" [ngClass]="{'selected-menu-tab': destinationTab, 'menu-tab': !destinationTab && !validationDestnationTab(), 'completed-menu-tab': !destinationTab && validationDestnationTab()}" align="center" (click)="changeMenuTab(1)"><span class="bubble"></span>
                        Destination(s)
                    </div>
                    <div class="col-md-4 tab-btn" [ngClass]="{'selected-menu-tab': testTab, 'menu-tab': !testTab}" align="center" (click)="changeMenuTab(2)"><span class="bubble"></span>
                        Results
                    </div>
                </div> 
                <!-- Source Tab Content-->
                <div align="center" *ngIf="sourceTab" class="source-tab">
                    <div class="source-cloud-drop-down">Select cloud</div>
                    <select placeholder="Select Cloud" [ngClass]="{'after-sselection-source-cloud': speedtestModel.sourceCloudProvider != '', 'before-sselection-source-cloud': speedtestModel.sourceCloudProvider == ''}" [(ngModel)]="speedtestModel.sourceCloudProvider" (change)="changeSourceCloudProvider()">
                        <option value="" disabled selected class="color-a8a8a8">Select Cloud Provider</option>
                        <option value="azure">Azure</option>
                        <option value="aws">AWS</option>
                        <option value="gce">GCE</option>
                    </select>
                    <div align="center" class="source-cloud-region-label">Select cloud region</div>
                    <select [ngClass]="{'after-selection-source-region': speedtestModel.sourceCloudRegion != '', 'before-selection-source-region': speedtestModel.sourceCloudRegion == ''}" placeholder="Select Cloud Region" [(ngModel)]="speedtestModel.sourceCloudRegion" (ngModelChange)="changeSourceRegion($event)">
                        <option value="" disabled selected>Select Cloud Region</option>
                        <option *ngFor="let region of sourceCloudRegions" [value]="region.cloud_info.region">{{ region.label }}</option>
                    </select>
                </div>
                <!-- End Source Tab Content-->
                <!-- Destination Tab content -->
                <div class="row height-170" *ngIf="destinationTab">
                    <div class="col-md-12">
                        <div class="row destination-tab" align="center">
                            <div class="col-md-4" [ngClass]="{'active-destination-menu': destinationCloudProvider == 'azure', 'non-active-destination-menu': destinationCloudProvider != 'azure'}">
                                <span class="cursor-pointer" (click)="setDestinationCloudProvider('azure')">Azure</span>
                            </div>
                            <div class="col-md-4" [ngClass]="{'active-destination-menu': destinationCloudProvider == 'aws', 'non-active-destination-menu': destinationCloudProvider != 'aws'}">
                                <span class="cursor-pointer" (click)="setDestinationCloudProvider('aws')">AWS</span>
                            </div>
                            <div class="col-md-4" [ngClass]="{'active-destination-menu': destinationCloudProvider == 'gce', 'non-active-destination-menu': destinationCloudProvider != 'gce'}">
                                <span class="cursor-pointer" (click)="setDestinationCloudProvider('gce')">GCE</span>
                            </div>
                        </div>
                        <div class="row destination-cloud-provider" *ngIf="destinationCloudProvider == 'azure'">
                            <img src="/assets/ic_check_box_filled@2x.png" width="22" height="22" class="margin-right-5" (click)="selectAndDeselectAllCloudRegions('azure');" *ngIf="selectedAllAzureRegion">
                            <img src="/assets/ic_check_box_outline@2x.png" width="22" height="22" class="margin-right-5" (click)="selectAndDeselectAllCloudRegions('azure');" *ngIf="!selectedAllAzureRegion">
                            <label (click)="selectAndDeselectAllCloudRegions('azure');">
                                Select All Azure Regions
                            </label>
                        </div>
                        <div class="row destination-cloud-provider" *ngIf="destinationCloudProvider == 'aws'">
                            <img src="/assets/ic_check_box_filled@2x.png" width="22" height="22" class="margin-right-5" (click)="selectAndDeselectAllCloudRegions('aws');" *ngIf="selectedAllAWSRegion">
                            <img src="/assets/ic_check_box_outline@2x.png" width="22" height="22" class="margin-right-5" (click)="selectAndDeselectAllCloudRegions('aws');" *ngIf="!selectedAllAWSRegion">
                            <label (click)="selectAndDeselectAllCloudRegions('aws');">
                                Select All AWS Regions
                            </label>
                        </div>
                        <div class="row destination-cloud-provider" *ngIf="destinationCloudProvider == 'gce'">
                            <img src="/assets/ic_check_box_filled@2x.png" width="22" height="22" class="margin-right-5" (click)="selectAndDeselectAllCloudRegions('gce');" *ngIf="selectedAllGCERegion">
                            <img src="/assets/ic_check_box_outline@2x.png" width="22" height="22" class="margin-right-5" (click)="selectAndDeselectAllCloudRegions('gce');" *ngIf="!selectedAllGCERegion">
                            <label (click)="selectAndDeselectAllCloudRegions('gce');">
                                Select All GCE Regions
                            </label>
                        </div>
                        <div class="row destination-region" *ngIf="destinationCloudProvider == 'azure'">
                            <template ngFor let-option [ngForOf]="dashboardModel.azureRegions" let-i="index">
                                <div class="col-md-6 padding-0" *ngIf="speedtestModel.sourceCloudProvider != destinationCloudProvider || option.cloud_info.region != speedtestModel.sourceCloudRegion">
                                    <img src="/assets/ic_check_box_filled@2x.png" alt="Smiley face" width="22" height="22" class="margin-right-5" (click)="updateCheckbox(option);" *ngIf="option.isSelected && (speedtestModel.sourceCloudProvider != destinationCloudProvider || option.cloud_info.region != speedtestModel.sourceCloudRegion)">
                                    <img src="/assets/ic_check_box_outline@2x.png" alt="Smiley face" width="22" height="22" class="margin-right-5" (click)="updateCheckbox(option);" *ngIf="!option.isSelected && (speedtestModel.sourceCloudProvider != destinationCloudProvider || option.cloud_info.region != speedtestModel.sourceCloudRegion)">
                                    <label *ngIf="speedtestModel.sourceCloudProvider != destinationCloudProvider || option.cloud_info.region != speedtestModel.sourceCloudRegion" class="padding-top-10" (click)="updateCheckbox(option);">
                                        {{option.label}}
                                    </label>
                                </div>
                            </template>
                        </div>
                        <div class="row destination-region" *ngIf="destinationCloudProvider == 'aws'">
                            <template ngFor let-option [ngForOf]="dashboardModel.awsRegions" let-i="index">
                                <div class="col-md-6 padding-0" *ngIf="speedtestModel.sourceCloudProvider != destinationCloudProvider || option.cloud_info.region != speedtestModel.sourceCloudRegion">
                                    <img src="/assets/ic_check_box_filled@2x.png" alt="Smiley face" width="22" height="22" class="margin-right-5" (click)="updateCheckbox(option);" *ngIf="option.isSelected && (speedtestModel.sourceCloudProvider != destinationCloudProvider || option.cloud_info.region != speedtestModel.sourceCloudRegion)">
                                    <img src="/assets/ic_check_box_outline@2x.png" alt="Smiley face" width="22" height="22" class="margin-right-5" (click)="updateCheckbox(option);" *ngIf="!option.isSelected && (speedtestModel.sourceCloudProvider != destinationCloudProvider || option.cloud_info.region != speedtestModel.sourceCloudRegion)">
                                    <label *ngIf="speedtestModel.sourceCloudProvider != destinationCloudProvider || option.cloud_info.region != speedtestModel.sourceCloudRegion" class="padding-top-10" (click)="updateCheckbox(option);">
                                        {{option.label}}
                                    </label>
                                </div>
                            </template>
                        </div>
                        <div class="row destination-region" *ngIf="destinationCloudProvider == 'gce'">
                            <template ngFor let-option [ngForOf]="dashboardModel.gceRegions" let-i="index">
                                <div class="col-md-6 padding-0" *ngIf="speedtestModel.sourceCloudProvider != destinationCloudProvider || option.cloud_info.region != speedtestModel.sourceCloudRegion">
                                    <img src="/assets/ic_check_box_filled@2x.png" alt="Smiley face" width="22" height="22" class="margin-right-5" (click)="updateCheckbox(option);" *ngIf="option.isSelected && (speedtestModel.sourceCloudProvider != destinationCloudProvider || option.cloud_info.region != speedtestModel.sourceCloudRegion)">
                                    <img src="/assets/ic_check_box_outline@2x.png" alt="Smiley face" width="22" height="22" class="margin-right-5" (click)="updateCheckbox(option);" *ngIf="!option.isSelected && (speedtestModel.sourceCloudProvider != destinationCloudProvider || option.cloud_info.region != speedtestModel.sourceCloudRegion)">
                                    <label *ngIf="speedtestModel.sourceCloudProvider != destinationCloudProvider || option.cloud_info.region != speedtestModel.sourceCloudRegion" class="padding-top-10" (click)="updateCheckbox(option);">
                                        {{option.label}}
                                    </label>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
                <!-- End Destination Tab content -->
                <!-- Test Tab content -->
                <div *ngIf="testTab" class="height-162">
                    <div class="row test-source">
                        <div class="col-md-5">
                            <span class="test-source-cloud-label">Source Provider:&nbsp;</span>
                            <span>
                                <span class="color-a8a8a8" *ngIf="speedtestModel.sourceCloudProvider == 'aws'">AWS</span>
                                <span class="color-a8a8a8" *ngIf="speedtestModel.sourceCloudProvider == 'azure'">Azure</span>
                                <span class="color-a8a8a8" *ngIf="speedtestModel.sourceCloudProvider == 'gce'">GCE</span>
                            </span>
                                
                        </div>
                        <div class="col-md-7">
                            <span class="test-source-region-label">Source Region:&nbsp;</span>
                            <span class="color-a8a8a8">{{currentSourceRegion.region_name}}</span>
                        </div>
                    </div>
                    <!-- Analytics table header -->
                    <table class="table table-striped region-table-header">
                        <thead>
                            <tr>
                                <th width="8%"></th>
                                <th width="37%"><span class="column-header" (click)="sortBy('region_name')">{{properties.RIGHT_PANEL_REGION_COLUMN_HEADER}} <i class="fa sort-style" 
                                    [ngClass]="{'fa-sort': sortableColumn != 'region_name', 'fa-sort-asc': (sortableColumn == 'region_name' && !isDesc),                                        'fa-sort-desc': (sortableColumn == 'region_name' && isDesc) }"
                                    aria-hidden="true"> </i>

                                </span></th>

                                <th width="25%" style="padding-left: 2px;"><span class="column-header" (click)="sortBy('latency')">{{properties.RIGHT_PANEL_LATENCY_COLUMN_HEADER}} <i class="fa sort-style" 
                                    [ngClass]="{'fa-sort': sortableColumn != 'latency', 'fa-sort-asc': (sortableColumn == 'latency' && !isDesc),                                        'fa-sort-desc': (sortableColumn == 'latency' && isDesc) }"
                                    aria-hidden="true"> </i></span></th>
                                
                                <th width="30%" style="padding-left: 0px;"><span class="column-header" (click)="sortBy('bandwidth')">{{properties.RIGHT_PANEL_THROUGHPUT_COLUMN_HEADER}} <i class="fa sort-style" 
                                    [ngClass]="{'fa-sort': sortableColumn != 'bandwidth', 'fa-sort-asc': (sortableColumn == 'bandwidth' && !isDesc),                                        'fa-sort-desc': (sortableColumn == 'bandwidth' && isDesc) }"
                                    aria-hidden="true"> </i></span></th>
                            </tr>
                        </thead>
                    </table>
                    <!-- End Analytics table header -->
                    <!-- List of selected destination regions as per cloud provider -->
                    <div class="destination-region-table">
                    
                        <table class="table table-striped margin-top-10">
                            <tbody>
                                <tr *ngFor="let region of speedtestModel.destinationRegions">
                                    <td style="width:8%"><img src="{{region.logoUrl}}" alt="Region" width="17" height="17" style="margin-right: 7px;"></td>
                                    <td style="width:37%">{{region.region_name}}</td>
                                    <td style="width: 25%; padding-left: 15px" *ngIf="!region.latency">{{properties.NA_TEXT}}</td>
                                    <td style="width: 25%; padding-left: 15px" *ngIf="region.latency">{{region.latency}}</td>
                                    <td style="width: 30%; padding-left: 15px" *ngIf="!region.bandwidth">{{properties.NA_TEXT}}<img src="/assets/ic_remove.png" class="pull-right" alt="Smiley face" width="17" height="17" style="cursor: pointer;" (click)="removeRegionFromDestination(region, region.cloudProvider);"></td>
                                    <td style="width: 30%; padding-left: 15px" *ngIf="region.bandwidth">{{region.bandwidth}}<img src="/assets/ic_remove.png" class="pull-right" alt="Smiley face" width="17" height="17" style="cursor: pointer;" (click)="removeRegionFromDestination(region, region.cloudProvider);"></td>
                                </tr>
                                <div class="empty-destination-label" *ngIf="speedtestModel.destinationRegions.length < 1">
                                    Click on back to select destination(s) region to start test
                                </div>
                            </tbody>
                        </table>
                    </div>
                    <!-- List of selected destination regions as per cloud provider -->
                </div>
                <!-- Test Tab content -->
            </div>
            <!-- Next and Back buttons -->
            <div class="flow-buttons-bottom">
                <button class="pull-left btn active-back-button" (click)="backTab();" *ngIf="destinationTab"><i class="fa fa-chevron-left padding-right-10" aria-hidden="true"></i> Previous</button>
                <button class="{{validate() ? 'pull-right btn btn-start next-button-common':'btn next_btn_disabled pull-right next-button-common'}}"  (click)="nextTab();" [disabled]="!validate()" *ngIf="!testTab">Next <i class="fa fa-chevron-right padding-left-10" aria-hidden="true"></i></button> 
                <!-- <button class="pull-right btn btn-start outline-none" (click)="startTest();" [disabled]="speedtestModel.destinationRegions.length < 1" *ngIf="!isTestCompleted && !disabledStart && testTab">Begin Test&nbsp;&nbsp;<i class="fa fa-play" aria-hidden="true"></i></button> -->
                <button class="btn btn-start outline-none" (click)="startTest();" [disabled]="speedtestModel.destinationRegions.length < 1" *ngIf="testTab">Restart Test&nbsp;&nbsp;<i class="fa fa-play" aria-hidden="true"></i></button>
            </div>
            <!-- End Next and Back buttons -->
        </div>
        <!-- Test Tab content -->
    </div>
    <!-- End Right Panel -->
</div>
<!-- End Right and left panel -->
<!-- Left and Right panel for latency and throughput graphs -->
<div class="row mrg-bottom-15">
    <!-- Left panel with latency grapg -->
    <div class="col-md-6 pad-right-none">
        <div class="card card-radious-none">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-9"><h6 class="card-title card-title-margin">{{properties.LATENCY_CHART_HEADER}} <span>&nbsp; <i class="fa fa-info-circle fa-lg info-color cursor-pointer" aria-hidden="true" mdTooltip="{{properties.LATENCY_CHART_TOOLTIP}}" mdTooltipPosition="right"></i></span></h6></div>
                </div>
            </div>
            <div class="card-block" #latencyCard>
                <chart [options]="latencyOptions" (load)="latencyInstance($event.context)"  *ngIf="latencyOptions !== null" class="chart-height"></chart>
                <h6 class="chart-label" *ngIf="!chartLoaded">Select source and destination(s) to begin test.</h6>
            </div>
        </div>
    </div>
    <!-- End Left panel with latency grapg -->
    <!-- Right panel with throughput grapg -->
    <div class="col-md-6">
        <div class="card card-radious-none">
             <div class="card-header">
                <div class="row">
                    <div class="col-md-9"><h6 class="card-title card-title-margin">{{properties.THROUGHPUT_CHART_HEADER}}  <span>&nbsp; <i class="fa fa-info-circle fa-lg info-color cursor-pointer" aria-hidden="true" mdTooltip="{{properties.THROUGHPUT_PANEL_TOOLTIP}}" mdTooltipPosition="right"></i></span></h6></div>
                </div>

            </div>
            <div class="card-block">
                <chart [options]="bandwidthOptions" (load)="bandwidthInstance($event.context)" *ngIf="bandwidthOptions !== null" class="chart-height"></chart>
                 <h6 class="chart-label" *ngIf="!chartLoaded">Select source and destination(s) to begin test.</h6>
            </div>
        </div>
    </div>
    <!-- End Left panel with latency grapg -->
</div>
<!-- End Left and Right panel for latency and throughput graphs -->
