.emailbtn {
    min-width: 35px !important; 
    height: 25px !important; 
    margin-top: 0px;
    background-color: #00ACEE; 
    color: #ffffff; 
    margin-right: 5px; 
    border-radius: .2em;
}

.emailbtn:hover {
    background-color: #008abe; 
    color: #FFFFFF !important;
}